<%# <div  style="width: 30px; height:30px;">
      class="d-flex justify-items-center justify-content-center bg-primary text-white rounded-circle">
  <h4 class="bg white p-2 text-primary">
    <i class="fa-solid fa-helicopter-symbol"></i>
  </h4>
</div> %>

<div class="badge rounded-pill bg-primary fs-6 text-capitalize">
  <i class="fa-solid fa-helicopter-symbol"></i> - <%= aircraft.name %>
</div>
